.App {
  text-align: center;
  background-color: #000;
  color: #FFF;
  padding: 1rem ;

}

body{
  background-color: #000;
}

/* common */
.gossip{ 
  color: #FFF;
  float: left;
}
.gossip:hover{
  text-decoration: none
}
button{
  padding: 0.3rem 1.3rem;
  background: #FFEB3B;
  border: none;
  font-size: 0.8rem;
  margin: .2rem;
  font-weight: bold;
  cursor: pointer;
}
input[type=text]{
  padding: 0.3rem 1rem ;
  /* font-size: 0.8rem; */
  margin: .5rem;
}
input[type=email]{
  padding: 0.3rem 1rem ;
  /* font-size: 0.8rem; */
  margin: .5rem;
}
input[type=password]{
  padding: 0.3rem 1rem ;
  /* font-size: 0.8rem; */
  margin: .5rem;
}
a { 
  text-decoration: none;
  color: #3F51B5;
}
a:hover{
  text-decoration: underline;
}
.ques-time{  
  color: #9E9E9E;
  float: left;
}
.action_container , .actions-numbers{ 
  display:flex;
  justify-content: space-evenly;
}
.actions-numbers a { 
  color: #9e9e9e;
}
.like_container { 
  display: flex;
}
.comment_container { 
  color: #585858;
  text-decoration: line-through;
}
/* not used */
.ques_datails_container { 
  display: none;
  position: fixed;
  width: 70%;
  margin: auto;
  height: 95%;
  background-color: #000000;
  z-index: 2;
  inset: 0px;
  box-shadow: 0 4px 8px 0 rgb(204 204 204 / 23%), 0 6px 20px 0 rgb(255 255 255 / 19%);
  text-align: left;
}
.ques_datails_container button{
  padding: 0.3rem 1rem;
  color: #FFF;
  background: #ff0404;
  font-size: 0.8rem;
  cursor: pointer;
}



/* Nav Component */
nav{
  margin: 0 0 1.2rem 0;
}
.logout-btn{
  background: none;
  color: #ff0000;

}
.nav-link {
  padding : .5rem;
}
.username-link{
  color: #FFF;
}
/* home page Component */
.homepage-img { 
  height: 10rem;
  width: 100%;
}
.homepage-container input {
   padding: 0.1rem .1rem ;
  /* font-size: 0.8rem; */
  /* margin: 0rem; */ 
  font-size: 1rem;
}
.answer-btn{
 background: #009688;
 color: #FFF;
 border-radius: 10%;
 cursor: pointer
}
.delete-btn{
  padding: 0;
  background: none;
  color: #7d7d7d;
  cursor: pointer;
  float :right
}
.material-icons{
  font-size: 1rem;
}
/* User Component  */
.success {
  color: #000;
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
  display:none
}
.failed{
  color: #000;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  display:none
}
.user_note{
  margin-bottom: .3rem;
  padding: .1rem .2rem;
}
.display_note{
  display: block;
}
.question { 
   background: #111111;
   overflow: auto;
  padding: .5rem;
  /* box-shadow: 0px 0px 10px #4CAF50; */
  border: .01rem solid #585858;
  margin: .5rem 0;
}
.follow-btn { 
  background: #F44336;
  color: #fff;
  border: none;
}
.love-btn{
  /* display: flex; */
  cursor: pointer;
}

.loved {
  color: #fd3c2e;
}
.likes_number{
  margin-left: .4rem;
  cursor: pointer;
  color: #9e9e9e;
}
.likes_number:hover{ 
  text-decoration: underline;
}

.true-follow{
  background: none;
  color: #fff;
  margin-bottom: .6rem;
  box-shadow: 2px 2px 0px 0px #8a8a8a;
}
.question-body { 
  font-size: 1.2rem;
  color: #3F51B5;
}
.ques-input{
  width: 70%;
}
.ques_form{
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-evenly;
  align-items: center;
}

textarea { 
  resize: none;
  font-size: 1rem;
  width: 80%;
} 
@media (max-width: 500px){
  .ques_form{
    flex-wrap: wrap;
  }
  textarea { 
    width: 99%;
  }
}

.question-answer{ 
  /* background: #ffffff; */
  /* padding: 0.1rem 6rem; */
  margin: 1rem;
}

/* Friends component */
.user-link{
  background: none;
  color:#3F51B5
}
.friends-container{
  /* margin: 1rem;
  background: beige;
  padding: 1rem;
  border: 1px solid #000;
  text-align: left; */

      /* margin: 1rem; */
    /* background: beige; */
    padding: 1rem;
    border: 1px solid #FFEB3B;
    text-align: left;

}
li{
  list-style-type: circle;

}
/* QuestionLikes component */

.ques_likes_container { 
  text-align: left;
  height: 25rem;
  padding: .4rem;
  border: 1px solid;
}
.ques_likes_container h4{
  display: inline;
}
.likes-num { 
  float: right;
  color: tomato;
}
.liked_by_container{
  margin: .7rem 0;
}
.liked_by{
  padding: .3rem;
}
.liked_by a {
  color: #ccc;

}


/* LogIn component && SignUp Component */
.form-container{
  padding: 1rem;
  color: #fff;
  width: 50%;
  margin: 2rem auto;
  border: 1px solid #fff;
  box-shadow: 0px 0px 20px 0px #4c4c4c;
}
@media (max-width: 600px){
  .form-container{
    width: 80%;
  }
}
label {
  display: block;
}
.fb_btn {
  background: #3F51B5;
  color: #fff;
}

