.App {
  text-align: center;
  background-color: #FFEB3B;
  color: #FFF;
  padding: 1rem ;

}

body{
  background-color: #f000;
}

/* common */
.gossip{
  color: #FFF;
  float: left;
}
.gossip:hover{
  text-decoration: none
}
button{
  padding: 0.3rem 1.3rem;
  background: #FFEB3B;
  border: none;
  font-size: 0.8rem;
  margin: .2rem;
  font-weight: bold;
  cursor: pointer;
}
input[type=text]{
  padding: 0.3rem 1rem ;
  /* font-size: 0.8rem; */
  margin: .5rem;
}
input[type=email]{
  padding: 0.3rem 1rem ;
  /* font-size: 0.8rem; */
  margin: .5rem;
}
input[type=password]{
  padding: 0.3rem 1rem ;
  /* font-size: 0.8rem; */
  margin: .5rem;
}
a { 
  text-decoration: none;
  color: #3F51B5;
}
a:hover{
  text-decoration: underline;
}
.ques-time{  
  color: #9E9E9E;
  float: left;
}

/* Nav Component */
nav{
  margin: 0 0 1.2rem 0;
}
.logout-btn{
  background: none;
  color: #ff0000;

}
.nav-link {
  padding : .5rem;
}
.username-link{
  color: #FFF;
}
/* home page Component */
.homepage-img { 
  height: 10rem;
  width: 100%;
}
.homepage-container input {
   padding: 0.1rem .1rem ;
  /* font-size: 0.8rem; */
  /* margin: 0rem; */ 
  font-size: 1rem;
}
.answer-btn{
 padding: 0;
 background: #020723;
 color: #FFF;
cursor: pointer
}
.delete-btn{
  padding: 0;
  background: none;
  color: #7d7d7d;
  cursor: pointer;
  float :right
}
.material-icons{
  font-size: 1rem;
}

/* User Component  */
.question { 
   background: #111111;
  padding: .5rem;
  /* box-shadow: 0px 0px 10px #4CAF50; */
  border: .01rem solid #585858;
  margin: .5rem 0;
}
.follow-btn { 
  background: #F44336;
  color: #fff;
  border: none;
}
.love-btn{
  display: flex;
  justify-content: space-between;
}
.loved {
  color: #ff0000;
}


.true-follow{
  background: none;
  color: #fff;
  margin-bottom: .6rem;
  box-shadow: 2px 2px 0px 0px #8a8a8a;
}
.question-body { 
  font-size: 1.2rem;
  color: #3F51B5;
}
.ques-input{
  width: 70%;
}

.question-answer{ 
  /* background: #ffffff; */
  /* padding: 0.1rem 6rem; */
  margin: 1rem;
}

/* Friends component */
.user-link{
  background: none;
  color:#3F51B5
}
.friends-container{
  /* margin: 1rem;
  background: beige;
  padding: 1rem;
  border: 1px solid #000;
  text-align: left; */

      /* margin: 1rem; */
    /* background: beige; */
    padding: 1rem;
    border: 1px solid #FFEB3B;
    text-align: left;

}
li{
  list-style-type: circle;

}
/* LogIn component && SignUp Component */

.form-container{
  padding: 1rem;
  color: #fff;
  width: 50%;
  margin: 2rem auto;
  border: 1px solid #fff;
  box-shadow: 0px 0px 20px 0px #4c4c4c;
}
@media (max-width: 600px){
  .form-container{
    width: 80%;
  }
}
label {
  display: block;
}

